<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <link rel="stylesheet" href="./assets/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <div id="app">
        <div class="app-container">
            <div id="app" class="row">
    
                <!-- sidebar -->
                <div id="sidebar" class="d-flex col-4">
    
                    <!-- sidebar header -->
                    <div class="side-header row col-12">
                        <div class="user col-md-12">
                            <img src="./assets/img/avatar_io.jpg" alt="profile-pic">
                        </div>
                        <div class="action d-flex hide">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
    
                    <!-- sidebar notifications blue -->
                    <div class="notifications d-flex col-12 hide">
                        
                        <div class="alert">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>                    
                        
                        <div class="text d-flex col-10">
                            <span>
                                <strong>
                                    Ricevi notifiche di nuovi messaggi
                                </strong>
                            </span>
    
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
    
                    <!-- searchbar -->
                    <div class="search-bar col-12 hide">
                        <div class="search d-flex">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-arrow-down"></i>
                            <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchInput" @keyup="searchContact()">
                        </div>
                    </div>
    
                    <!-- contact list -->
                    <div class="contact-list col-12">
    
                        <!-- contact1 -->
                        <div class="contact" v-for="(contact,index) in contactList" @click="changeActiveChat(contact, index)" :class="contact.visible === false ? 'd-none' : 'd-flex'">
                            <div class="contact-pic col-2 col-md-12">
                                <img :src="contact.avatar" :alt="contact.name">
                            </div>
                            <div class="text d-flex col-10 hide">
                                <div class="name d-flex">
                                    <h3>{{contact.name}}</h3>
                                    <span v-if="contact.messages.length > 0">{{formatMsgTime(contact.messages.at(-1).date)}}</span>                                    
                                </div>
                                <p v-if="contact.messages.length > 0">{{contact.messages.at(-1).message}}</p>
                            </div>
                        </div>   
                        
    
                    </div>
    
                </div>
                    
                <div id="main-app" class="col-8 col-sm-12">
                    
                    <!-- topbar -->
                    <div class="top-bar d-flex">
    
                        <div class="chat-contact d-flex">
                            <div class="contact-pic">
                                <img :src="contactList[activeContact].avatar" alt="">
                            </div>
                            
                            <div class="text d-flex">
                                <h3>{{contactList[activeContact].name}}</h3>
                                <template v-if="contactList[activeContact].messages.length > 0">
                                    <span v-if="contactList[activeContact].messages.at(-1).status === 'sent'">Sta scrivendo...</span>
                                    <span v-else>Ultimo accesso oggi alle {{formatMsgTime(contactList[activeContact].messages.at(-1).date)}}</span>
                                </template>                                
                            </div>
                        </div>
    
                        <div class="top-action d-flex">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
    
                    </div>
    
                    <!-- chat -->
                    <div class="chat">
                        <div class="msg row">
    
                            <div class="d-flex col-8 col-sm-9" v-for="(singleMessage, msgIndex) in contactList[activeContact].messages" :class="contactList[activeContact].messages[msgIndex].status === 'received' ? 'contact-msg' : 'my-msg'">
                                <p class="col-11">
                                    {{contactList[activeContact].messages[msgIndex].message}}
                                </p>
    
                                <div class="chevron col-1">
                                    <i class="fa-solid fa-chevron-down"  @click="dropMenuAppear(singleMessage, msgIndex)"></i>
                                    <!-- dropdown menu -->
                                    <div v-if="singleMessage.appear" class="drop">
                                        <ul>
                                            <li>Info messaggio</li>
                                            <li @click="deleteMessage(msgIndex)">Cancella messaggio</li>
                                        </ul>
                                    </div>
                                </div>                                
                                
                                <span class="time">
                                    {{formatMsgTime(contactList[activeContact].messages[msgIndex].date)}}
                                </span>
                            </div>
    
                            
    
                            
    
                        </div>
                    </div>
    
                    <!-- bottom-bar-->
    
                    <div class="bottom-bar d-flex">
                        <i class="fa-regular fa-face-smile col-1"></i>
                        <input type="text" class="col-10 col-sm-12" placeholder="Scrivi un messaggio" v-model="myMessage" @keyup.enter="sendMessage()" @keyup="typingMessage()">
                        <span class="error-message" v-if="errorMessage">{{errorMessage}}</span>
                        <i v-if="typingMsg" @click="sendMessage()" class="fa-solid fa-paper-plane"></i>
                        <i v-else class="fa-solid fa-microphone col-1"></i>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
    




    <!-- script -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <script type="module" src="./assets/js/app.js"></script>    

</body>

</html>